@font-face
{
font-family: CenturyGothic; 
src: url(../fonts/GOTHIC.ttf);
}
@font-face
{
font-family: CenturyGothicBold; 
src: url(../fonts/GOTHICBOLD.ttf);
}
header, nav, section, article, aside, footer {
   display:block;
}
img { border:0px; }
a {text-decoration: none;}
a:visited { }
a:link { }
a:hover { }
.visible { visibility:visible; display:block; }
.hidden{ visibility:hidden; display:none; }
.black { color:#000; }
.green { color:#509d33;}
.red { color:#d28080; } / ff457e /
.gray { color:#777;}
div, p, table, tr, td, body, span, a
{
	margin: 0px;
	/*padding: 0px;*/
	font-family: CenturyGothic, Arial;
	color:#424242;
}
p
{
	font-size:18px;
	color:#424242;
    margin: 18px 0 15px 0;
    line-height: 22px;
}
table { border-collapse: collapse;}
.clear{	clear: both;}
body
{
	background-color:#fff;
}
div.center
{
	
    width: 970px;
    margin: 0px auto;
}
header
{
    height: 161px;
    background: url(../img/header-bg.jpg);
}
header div.left
{
    width: 302px;
    float: left;
}
header div.right
{
    float: right;
}
header div.right div.num
{
    font-size:48px;
	color:#292929;
    margin: 25px 0 0 0;
}
header div.right div.num span 
{
	color:#3877a1;
}
header div.right a.callback
{
    display: block;
    width: 343px;
    text-transform: uppercase;
    height: 31px;
    background-image: url(../img/callback-bg.png);
    color: #fff;
    text-align: center;
    padding-top: 10px;
}
div.anonsbg 
{
    background-image: url(../img/anonsbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 24px 0 36px 0;
    height: 431px;
}
div.anonsbg div.date1
{
    color: #3877a1;
    font-size: 36px;
    font-weight: bold;
}
div.anonsbg div.date2
{
    width: 475px;
    height: 180px;
    background-image: url(../img/date2-bg.png);
    background-repeat: no-repeat;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    padding: 21px 74px 0 76px;
    margin: 7px 0 0 -27px;
}
div.anonsbg div.date3
{
    font-size: 36px;
    color: #000;
    margin: 7px 0 0 0;
}
div.anonsbg div.date4
{
    width: 500px;
    font-size: 24px;
    color: #424242;
    margin: 7px 0 0 0;
}
div.feedbackbg
{
    height: 460px;
    padding: 26px 0 82px 0;
    background-image: url(../img/feedbackbg.jpg);
}
div.feedbackbg div.feedback-h
{
    color: #fff;
	font-size:30px;
    text-transform: uppercase;
    text-align: center;
}
table.feedback
{
    margin: 29px 0 0 0;
}
table.feedback tr td
{
    padding: 13px 0px 7px 0px;
    color: #fff;
}
table.feedback td.fbtext
{
    width: 100px;
	font-size:18px;
}
table.feedback td.fb-left
{
    padding: 0px 0px 0 0;
}
table.feedback td.fb-right
{
    padding: 0px 0px 0px 22px;
}
table.feedback td.fbinput input
{ 
    background-color: #fff;
	border:none;
	width:370px;
    height: 36px;
    border-radius: 3px;
    padding: 0 0 0 10px;
    margin: -6px 0 6px 0;
}
table.feedback div.fb-left
{
	float:left;
    padding: 7px 20px 0 0;
    color: #fff;
}
table.feedback div.fb-right
{
	float:left;
    color: #fff;
}
table.feedback div.fb-right select
{
    background-color: #fff;
    border: none;
    width: 370px;
    height: 36px;
    border-radius: 3px;
    padding: 0 0 0 10px;
    width: 700px;
}
table.feedback  textarea
{
    background-color: #fff;
    border: none;
    width: 811px;
    height: 99px;
    border-radius: 3px;
    padding: 5px 0 0 10px;
}
table.feedback  input.sendbutton
{
    float: right;
    background-image: url(../img/sendbutton.png);
    width: 299px;
    height: 41px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: #000;
    font-size: 18px;
}
div.zag
{
	
    font-size: 30px;
    text-align: center;
    color: #3877a1;
    font-weight: bold;
    text-transform: uppercase;
	font-family:CenturyGothicBold;
}
div.ouracademyis
{
    padding: 36px 0 0 0;
}
table.ouracademyis
{
    margin: 50px auto 0px;
    width: 850px;
    text-align: center;
}
table.ouracademyis2
{
    margin: 19px auto 30px;
    width: 646px;
    text-align: center;
}
table.ouracademyis tr td
{
	width:171px;
    vertical-align: top;
}
table.ouracademyis tr td div.advant
{
    padding: 17px 10px;
}
table.ouracademyis tr td div.advant2
{
    padding: 17px 32px;

}
div.timer
{
	height:206px;
    padding: 35px 0 50px;
    background-image: url(../img/timerbg.jpg);
}
div.timer div.ostalos
{
	font-size: 48px;
	color:#fff;
    font-weight: bold;
	width:277px;
	float:left;
	position:relative;
    margin-left: 93px;
    line-height: 50px;
}
div.numdays
{
    font-size: 164px;
    color: #73d0f4;
    float: left;
    width: 277px;
    line-height: 170px;
    text-align: right;
}
div.days
{
    font-size: 35px;
    color: #fff;
    float: right;
    margin-right: 225px;
    margin-top: 112px;
}
div.telefdlyasv
{
	font-size: 24px;
    color: #fff;
    text-align: center;
}
div.telefdlyasv a
{
    color: #1ea3d0;
    text-decoration:underline;
}
div.ouradvant-bg
{
    height: 311px;
    background-image: url(../img/ouradvant-bg.jpg);
    padding: 81px 0 0 0;
}
div.ouradvant-bg table.ouradvant
{
	width:860px;
	margin:0px auto;
}
div.ouradvant-bg td.ouradvant-h
{
    font-size: 30px;
    text-align: center;
    color: #3877a1;
    font-weight: bold;
    text-transform: uppercase;
    width: 260px;
}
div.ouradvant-bg td.skobka
{
    width: 66px;
	height:227px;
    background-image: url(../img/skobka.png);
    background-repeat: no-repeat;
}
div.ouradvant-bg td.ouradvant
{
    width: 66px;
    color: #424242;
    font-family: CenturyGothicBold;
    font-size: 18px;
}
div.ouradvant-bg td.text
{
    width: 210px;
}
div.process
{
	padding: 40px 0 47px 0;
    border-bottom: 1px solid #36729b;
    margin: 0 0 17px 0;
}
table.process 
{
    margin: 45px 0 0 0;

}
table.process tr td 
{
    height: 150px;
    vertical-align: top;

}
table.process td.step
{
    height: 158px;
    background-image: url(../img/step-bg.png);
    background-repeat: no-repeat;
    background-position-x: 39px;
    background-position-y: 18px;
    position: relative;
    /*vertical-align: middle;
    text-align: center;*/
    color: #73d1f5;
    font-size: 30px;
    font-family: CenturyGothicBold;
    text-transform: uppercase;
    padding: 58px 0 0 53px;
}
table.process tr td.step div.steps-arrow
{
    width: 40px;
    height: 13px;
    background-image: url(../img/steps-arrow.png);
    background-repeat: no-repeat;
    padding: 0 0 0px 15px;
    position: absolute;
    right: -38px;
    top: 72px;
}
table.process div.steps-h
{
    font-family: CenturyGothicBold;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
	color:#36729b;
}
table.process div.steps-text
{
    font-size: 14px;
    text-align: center;
	color:#424242;
    margin-top: 10px;
    margin-left: 20px;
    width: 168px;

}
div.snoska
{
    font-size: 12px;
    margin: 25px 0 0 0;
}
div.questions-bg
{
    height: 202px;
    padding: 39px 0 29px;
    background-image: url(../img/callbackbg.jpg);
    margin: 20px 0 0 0;
}
div.quetext-big
{
    font-size: 30px;
	color:#fff;
    text-transform: uppercase;
    font-family: CenturyGothicBold;
}
div.quetext
{
    color: #fff;
    font-family: CenturyGothicBold;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 39px;
    float: left;
    margin: 7px 0px 0px 0px;
}
table.questions
{
    width: 970px;
}
td.questions-l
{
    padding: 6px 0 0 0;
    width: 360px;
}
table.queform
{
    float: right;
}
table.queform tr td
{
    padding: 13px 0 0 43px;
}
table.queform td.fname
{
    font-size: 18px;
    color: #fff;
}
table.queform input {
    background-color: #fff;
    border: none;
    width: 400px;
    height: 36px;
    border-radius: 3px;
    padding: 0 0 0 10px;
    margin: -6px 0 6px 0;
}
table.queform input.tel {
    width: 376px;
    height: 36px;
    float: right;
}
table.queform input.sendbutton {
    float: right;
    background-image: url(../img/sendbutton.png);
    width: 299px;
    height: 41px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: #000;
    font-size: 18px;
}
footer
{
    color: #010101;
    padding: 15px 0px;
    text-align: center;
}

ul.errorlist>li {
    color: red;
    list-style-type: none;
}

#entrant-good {
    font-size: 95px;
    display:none;
}

#callback-good {
    color: white;
    font-size: 60px;
    display:none;
}