<form action="{% url 'main' %}" method="post" id="callback_form">{% csrf_token %}
    {{ form.non_field_errors }}
    <input type="hidden" name="callback" value="1">
    <table class="queform">
        <tr>
            <td class="fname">ФИО</td>
            <td>{{ callback.contact_name }} {{ callback.contact_name.errors }}</td>
        </tr>
        <tr>
            <td class="fname">Email</td>
            <td>{{ callback.email }} {{ callback.email.errors }}</td>
        </tr>
        <tr>
            <td colspan="2" class="fname">Телефон {{ callback.phone }} {{ callback.phone.errors }}</td>
        </tr>
        <tr>
            <td colspan="2" ><input class="sendbutton" type="submit" value="Отправить"></td>
        </tr>
    </table>
</form>