<form action="{% url 'main' %}" method="post" id="entrant_form">{% csrf_token %}
    <input type="hidden" name="entrant" value="1">
    <table  class="feedback" border="0">
        <tr>
            <td class="fbtext fb-left">Фамилия</td>
            <td class="fbinput">{{ entrant.last_name }} {{ entrant.last_name.errors }}</td>
            <td class="fbtext fb-right">Телефон</td>
            <td class="fbinput">{{ entrant.phone }} {{ entrant.phone.errors }}</td>
        </tr>
        <tr>
            <td class="fbtext fb-left">Имя</td>
            <td class="fbinput">{{ entrant.first_name }} {{ entrant.first_name.errors }}</td>
            <td class="fbtext fb-right">Email</td>
            <td class="fbinput">{{ entrant.email }} {{ entrant.email.errors }}</td>
        </tr>
        <tr>
            <td class="fbtext fb-left">Отчество</td>
            <td class="fbinput">{{ entrant.patronymic }} {{ entrant.patronymic.errors }}</td>
            <td class="fbtext fb-right">Город</td>
            <td class="fbinput">{{ entrant.city }} {{ entrant.city.errors }}</td>
        </tr>
        <tr>
            <td class="fbtext" colspan="4">
                <div class="fb-left">Ваш уровень образования</div>
                <div class="fb-right">{{ entrant.education }} {{ entrant.education.errors }}</div>
            </td>
        </tr>
        <tr>
            <td class="fbtext" colspan="4">
                <div class="fb-left">Комментарий</div>
                <div class="fb-right">{{ entrant.comment }} {{ entrant.comment.errors }}</div>
            </td>
        </tr>
        <tr>
            <td  colspan="4"><input class="sendbutton" type="submit" value="Отправить"></td>
        </tr>
    </table>
</form>