﻿<html>{% load static solo_tags %}{% get_solo 'page.SiteText' as text %}
<head>
<title>{{ text.title }}</title>
<meta name="description" content="{{ text.description }}" >
<meta name="keywords" content="{{ text.keywords }}" >
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
	<script src="https://yastatic.net/jquery/3.1.0/jquery.min.js"></script>
	<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</head>
<body>
	<header>
		<div class="center">
			<div class="left"><img src="{% static 'img/logo.png' %}" /></div>
			<div class="right">
				<div class="num"><span>{{ text.text1_1|safe }}</span> {{ text.text1_2|safe }}</div>
				<a href="#callback_form" class="callback" id="request_call">Заказать звонок</a>
			</div>
		</div>
	</header>
	<section>
		<div class="anonsbg">
			<div class="center">
				<div class="date1">{{ text.text2|safe }}</div>
				<div class="date2">{{ text.text3|safe }}</div>
				<div class="date3">{{ text.text4|safe }}</div>
				<div class="date4">{{ text.text4_1|safe }}</div>
			</div>
		</div>
		<div class="feedbackbg">
			<div class="center" id="entrant-container">
				<div class="feedback-h" id="entrant-good">{{ text.entrant_good|safe }}</div>
				<div class="feedback-h">{{ text.text5|safe }}</div>
				<div class="feedback-h">{{ text.text6|safe }}</div>
				{% include 'entrant_form.html' %}
			</div>
		</div>
		<div class="ouracademyis">
			<div class="center">
				<div class="zag">{{ text.text7|safe }}</div>
				<div class="zag">{{ text.text8|safe }}</div>
				<table  class="ouracademyis" border="0">
					<tr>
						<td>
						<div><img src="{% static 'img/advant-1.png' %}"></div>
						<div class="advant">{{ text.text9|safe }}</div>
						</td>
						<td>
						<div><img src="{% static 'img/advant-2.png' %}"></div>
						<div class="advant">{{ text.text10|safe }}</div>
						</td>
						<td>
						<div><img src="{% static 'img/advant-3.png' %}"></div>
						<div class="advant">{{ text.text11|safe }}</div>
						</td>
					</tr>
				</table>
				<table  class="ouracademyis ouracademyis2" border="0">
					<tr>
						<td>
						<div><img src="{% static 'img/advant-4.png' %}"></div>
						<div class="advant2">{{ text.text12|safe }}</div>
						</td>
						<td >
						<div><img src="{% static 'img/advant-5.png' %}"></div>
						<div class="advant2">{{ text.text13|safe }}</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="timer">
			<div class="center">
				<div class="ostalos">{{ text.text14|safe }}</div>
				<div class="numdays">{{ text.get_days_left|safe }}</div>
				<div class="days">дней!</div>
				<div class="clear"></div>
				<div class="telefdlyasv">{{ text.text15|safe }}</div>
			</div>
		</div>
		<div class="ouradvant-bg">
			<div class="center">
				<table class="ouradvant">
					<tr>
						<td rowspan="3" class="ouradvant-h">{{ text.text16|safe }}</td>
						<td rowspan="3" class="skobka"></td>
						<td class="ouradvant"><img src="{% static 'img/ouradvant-1.png' %}" /> </td>
						<td class="ouradvant">{{ text.text17|safe }}</td>
					</tr>
					<tr>
						<td class="ouradvant"><img src="{% static 'img/ouradvant-2.png' %}" /> </td>
						<td class="ouradvant">{{ text.text18|safe }}</td>
					</tr>
					<tr>
						<td class="ouradvant"><img src="{% static 'img/ouradvant-3.png' %}" /> </td>
						<td class="ouradvant text">{{ text.text19|safe }}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="center">
			<div class="process">
				<div class="zag">{{ text.text20|safe }}</div>
				<table class="process">
					<tr>
						<td class="step">
							шаг 1
							<div class="steps-arrow"></div>
						</td>
						<td class="step">
							шаг 2
							<div class="steps-arrow"></div>
						</td>
						<td class="step">
							шаг 3
							<div class="steps-arrow"></div>
						</td>
						<td class="step">
							шаг 4
							<div class="steps-arrow"></div>
						</td>
						<td class="step">
							шаг 5
						</td>
					</tr>
					<tr>
						<td>
							<div class="steps-h">{{ text.step1_title|safe }}</div>
							<div class="steps-text">{{ text.step1|safe }}</div>
						</td>
						<td>
							<div class="steps-h">{{ text.step2_title|safe }}</div>
							<div class="steps-text">{{ text.step2|safe }}</div>
						</td>
						<td>
							<div class="steps-h">{{ text.step3_title|safe }}</div>
							<div class="steps-text">{{ text.step3|safe }}</div>
						</td>
						<td>
							<div class="steps-h">{{ text.step4_title|safe }}</div>
							<div class="steps-text">{{ text.step4|safe }}</div>
						</td>
						<td>
							<div class="steps-h">{{ text.step5_title|safe }}</div>
							<div class="steps-text">{{ text.step5|safe }}</div>
						</td>
					</tr>
				</table>
			</div>
				<div class="zag">{{ text.text21|safe }}</div>
				<p>{{ text.text22|safe }}</p>
				<div class="snoska">{{ text.text23|safe }}</div>
			
		</div>
		<div class="questions-bg">
			<div class="center">
				<table class="questions">
					<tr>
						<td class="questions-l">
							<div class="quetext-big">{{ text.text24|safe }}</div>
							<div class="quetext">{{ text.text25|safe }}</div>
						</td>
						<td>
							{% include 'callback_form.html' %}
						</td>
					</tr>
					<tr>
						<td colspan="2" id="callback-good">{{ text.callback_good|safe }}</td>
					</tr>
				</table>
			</div>
		</div>
	</section>
	<footer>
		{{ text.text26 }}
	</footer>
</body>
</html>