<html>{% load static solo_tags %}{% get_solo 'page.WorkProgram' as work_programm %}{% get_solo 'page.SiteText' as text %}
<head>
<title>{{ work_programm.title }}</title>
<meta name="description" content="{{ work_programm.description }}" >
<meta name="keywords" content="{{ work_programm.keywords }}" >
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
	<script src="https://yastatic.net/jquery/3.1.0/jquery.min.js"></script>
	<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</head>
<body>
	<header>
		<div class="center">
			<div class="left"><img src="{% static 'img/logo.png' %}" /></div>
			<div class="right">
				<div class="num"><span>{{ text.text1_1|safe }}</span> {{ text.text1_2|safe }}</div>
				<a href="/#callback_form" class="callback" id="request_call">Заказать звонок</a>
			</div>
		</div>
	</header>
	<section>
		<div class="ouracademyis">
			<div class="center">
				{{ work_programm.text|safe }}
			</div>
		</div>
        <div class="questions-bg">
			<div class="center">
				<table class="questions">
					<tr>
						<td class="questions-l">
							<div class="quetext-big">{{ text.text24|safe }}</div>
							<div class="quetext">{{ text.text25|safe }}</div>
						</td>
						<td>
							{#{% include 'callback_form.html' %}#}
						</td>
					</tr>
					<tr>
						<td colspan="2" id="callback-good">{{ text.callback_good|safe }}</td>
					</tr>
				</table>
			</div>
		</div>
	</section>
	<footer>
		{{ text.text26 }}
	</footer>
</body>
</html>